nav.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkslategray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;

  li.has-dropdown {
    background-color: darkslategray;
  }
}

body{
  padding-top: 45px;
}
