nav.top-bar {
  background-color: darkslategray;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  ul.title-area {
    margin-left: 25rem;
  }

  li.has-dropdown {
    background-color: darkslategray;
  }
}


