.image_article {
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
}

.image_show {
  margin-left: 6%;
  border: 1px solid silver;
  border-bottom: 0.5px solid silver;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
